<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name"viewport" content="width=device-width,initial-scale=1.0">
        <title>Crea tu cuenta</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
        <link rel="stylesheet" href="css/styleslogin.css">
        
    </head>

    <body>
        <header>

        </header>

        <!-- Formularios -->
        <form action=" " method="post" class="registro">

            <div class="control-registro">
                <label>Nombre de usuario@</label>
                <input type="text" name="user" placeholder="@usuario" class="control">
            </div>

            <div class="control-registro">
                <label>Contraseña</label>
                <input type="password" name="password1" placeholder="Escribe tu contraseña" class="control">
            </div>

            <button type="submit" class="boton-registro1">Enviar</a></button>                
            <button type="reset" class="boton-registro2">Borrar</button>  

        </form>



    </body>
</html>